{% extends 'base.html' %}

{% block title %}
  Railey H.'s perfumes
{% endblock %}

{% block content %}

  <div class="container-fluid">
    <div class="center-block text-center mt-container">
      {% if search %}
        Найдено по запросу: {{ is_found }}
      {% endif %}

      {% for perfume in page_obj %}
        {% if forloop.first %}<div class="row text-center">{% endif %}
        <div class="col-xs-6 col-sm-6 col-md-4">
          <div class="perfume-items distant">
            <img class="card-img my-2 mini-img"src="{{ perfume.image_url }}">
              <p>{{ perfume.brand }}</p>
              <a href="{% url 'perfumes:perfume_detail' perfume_id=perfume.pk %}">
                <p> {{ perfume.perfume_name }} </p>
              </a>
          </div>
        </div>
        {% if forloop.counter|divisibleby:3 %}</div><div class="row">{% endif %}
        {% if forloop.last %}</div>{% endif %}
      {% endfor %}
    </div>

    {% if page_obj.has_other_pages %}
      <div class="text-center">
        {% include 'perfumes/includes/paginator.html' %}
      </div>
    {% endif %}
  </div>
{% endblock %}



